.App {
  text-align: center;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #230F3F !important;
  z-index: -999;
  color: #EBD7E7 !important;
}

.wrapper{
  width: 100%;
  height: 100%;
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup {
  width: 100%;
  height: 100%;
  margin-top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #00609A;
  font-weight: 800;
}

.logo1 {
  object-fit: cover;
  border-radius: 30px;
  background: #181818;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%
}

.buttonConnectDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 100%;
}

.buttonSignupDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.textColor {
  color: #EBD7E7;
}

.buttonConnect {
  background: #00B5C4 !important;
  border-radius: 5rem !important;
  width: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.buttonSignup {
  background: #00B5C4 !important;
  border-radius: 5rem !important;
  height: 3rem;
  width: 15%;
}

.buttonFont {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

.logo2 {
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  bottom: 0;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
}

.wave1 {
  z-index: -1;
  position: fixed;
  display: flex;
  /* top: 80vh; */
  bottom: 0;
  height: 50vh;
  left: 0;
}

.wave2 {
  z-index: -2;
  position: fixed;
  display: flex;
  /* top: 80vh; */
  bottom: 0;
  height: 50vh;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
